.g--bg-color {
    background: radial-gradient(circle at 0% 0%, rgb(32, 112, 109) 0%, rgb(141, 204, 232) 50%, rgb(85, 141, 166) 100%);
}

.g--margin-top--5px{
    margin-top: 20px;
}

.g--nav-height {
    height: 130px;
}

.g--nav-text {
    font-size: 22px !important;
    font-weight: 700;
}

.g--page-title {
    font-size: 28px;
    font-weight: bolder;
    margin-left: 100px;
    margin-top: 5px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.g--nav-item-size{
    width: 130px !important;
}

.g--nav-item-size-special{
    width: 210px !important;
}

.g--margin-left-20px{
    margin-left: 50px;
}


.g--icons{
    width: 45px;
    margin-right: 15px;
}

.g--icons--contact{
    font-size: 30px;
}
/* fill: rgb(254, 184, 89); */