.g--bg-color {
    background: rgb(85, 141, 166);
}

.g--margin-top--5px{
    margin-top: 20px;
}

.g--nav-height {
    height: 130px;
}

.g--nav-text {
    font-size: 22px !important;
    font-weight: 700;
}

.g--nav-title {
    font-size: 28px;
    font-weight: bolder;
    margin-left: 100px;
    margin-top: 5px;
    
}
.g--margin-top-15px{
    margin-top: 15px !important;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.g--nav-item-size{
    width: 130px !important;
}

.g--nav-item-size-special{
    width: 210px !important;
}

.g--margin-left-20px{
    margin-left: 50px;
}


.g--icons{
    width: 30px;
    height: 30px !important;
    margin-right: 15px;
}

.g--icons:hover{
    cursor: pointer;

}

.g--icons--contact{
    font-size: 25px;
}


.g--span-size-100px{
	margin-bottom: 0.5rem;
	width: 40px;
    transform-origin: 0px 100%;
    transition: all 350ms;

	
}

.span-line  {
	border-bottom: 4px solid rgb(48, 47, 47);
}

.active-span-line--1 {
    transform: rotate(45deg) translate(-2px, 1px);
    border-radius: 4px;
}

.active-span-line--2{
    opacity: 0;
    margin-left: -30px;
}

.active-span-line--3{
    transform: rotate(-45deg) translate(-4px, 2px);
    border-radius: 4px;
}

.menu{
    margin-top: 20px;
}

.c-main-menu{
    margin-right: 30px;

}

.g--text-menu{
    margin-left: 15px;
    font-size: 18px;
}

.c-nav-menu{
    background-color: rgb(53, 52, 52);
    max-width: max-content;
    padding-left: 0px !important;
    /* display: none !important; */
    position: absolute;
    left: -100% !important;
    margin-top: 35px;
    transition: all 350ms ease-in !important;
}

.menu-active{
    display: block !important;
    /* flex-direction: column !important; */
    transition: all 350ms ease-out !important;
    left: 0 !important;
}


.c-main-menu:hover{
    cursor: pointer;
}
/* .c-nav-menu.animate {
    left: 400px;
  } */

.menu-link{
    text-decoration: none;
    font-size: 20px;
    color: azure;
}

.menu-title{
    margin-top: 10px;
    margin-right: 50px;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 30px;
}

.bi{
    margin-right: 10px;
}



.menu-item{
    width: 100% !important;
    font-weight: 500;
    font-size: 17px;
    border-bottom: 1px solid rgb(94, 94, 94);

}


.menu-item:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.logo--footer{
    
    border:  solid rgba(255, 255, 255, 0.63) !important;
    border-radius: 50%;
}


@media screen and (max-width: 989px) {
    .g--nav-item-size{
        width: auto !important;
        border: 1px solid black !important;
        margin-bottom: 5px !important;
        border-radius: 5px !important;
    }

    .g--nav-item-size-special{
        width: auto !important;
        border: 1px solid black !important;
        border-radius: 5px !important;
        margin-bottom: 5px !important;
    }
    .g--bg-ofcanvas-color{
        background: rgb(85, 141, 166) !important;
    }

    .g--margin-left-20px{
        margin-left: 0px !important;
    }

    .icons-container{
        margin-top: 10px;
        justify-content: center !important;
    }

    .g--nav-height{
        height: 100px !important;   
    }

    .footer-link-mb{
        flex-wrap: nowrap !important;
    }

    .footer-mb{
        justify-content: center !important;
        flex-direction: column !important;
    }

}
